.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 45px;
	font-size: 1.7rem;
	background-color: #ddeedd;
	color: #121212;
	border: solid black 1px;
	text-align: center;
}

.pending {
	background-color: inherit;
}

.correct {
	background-color: #49df74;
}

.wrong-position {
	background-color: #fff04e;
}

.not-used {
	background-color: #ff6060;
}
